fpn_ins/evaout/bbox_results.json filter=lfs diff=lfs merge=lfs -text
mfa_synins/evaout/bbox_results.json filter=lfs diff=lfs merge=lfs -text
fpn_ins/model-36.pth filter=lfs diff=lfs merge=lfs -text
mfa_synins/model_final.pth filter=lfs diff=lfs merge=lfs -text
